<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">

    <meta charset="UTF-8">
    <title>Online Ide</title>

</head>
<body>
<div class="jumbotron">
    <h2 class="h2"># Online IDE</h2>
    <hr>
    <div class="home-container">
        <button onclick="location.href='/sign-in'" class="btn btn-primary">Sign In</button>
        <button onclick="location.href='/sign-up'" class="btn btn-primary">Sign Up</button>
    </div>

    <p>You can Use "NOT BAD" Service</p>
</div>
<div th:replace="fragments/footer :: footer" />

</body>
</html>