<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">

    <meta charset="UTF-8">
    <title>Online Ide</title>

</head>
<body>
<div class="jumbotron exist-controller">
    <h2 class="h2"># Online IDE</h2>
    <hr>
    <div class="create-controller">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Project Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${memberFiles}">
                <td th:text="${file.fileName}"></td>
                <td>
                    <a th:href = "@{/{memberId}/{fileName}/ide(memberId = ${memberId}, fileName = ${file.fileName})}" class="btn">Start</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button th:object="${memberId}" class="btn btn-primary">
        <a th:href="@{/{memberId}/new-project(memberId = ${memberId})}">Create New Project</a>
    </button>
    <p>You can Use "NOT BAD" Service</p>
</div>
<div th:replace="fragments/footer :: footer" />

</body>
</html>